
/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "NanumGothic-Regular";
  font-weight: normal;
  src: url("./assets/fonts/Nanum_Gothic/NanumGothic-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "NanumGothic-ExtraBold";
  font-weight: normal;
  src: url("./assets/fonts/Nanum_Gothic/NanumGothic-ExtraBold.ttf") format("truetype");
}


@font-face {
  font-family: "NanumGothic-Bold";
  font-weight: normal;
  src: url("./assets/fonts/Nanum_Gothic/NanumGothic-Bold.ttf") format("truetype");
}


@font-face {
  font-family: "Monoton-Regular";
  font-weight: normal;
  src: url("./assets/fonts/Monoton/Monoton-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'HakgyoansimPuzzleTTF-Outline';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimPuzzleTTF-Outline.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



body {
  margin: 0;
  font-family: 'NanumGothic-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


